.bodystyle{
    background-color:#F0F0F0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00adb5;
    color: #222831;
    margin: 5;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0.7rem;
}

.dates{
    display: flex;
    flex-direction: row;
}

header, h2 {
    background-color: #00adb5;
    color: #eeeeee; /* Header text color */
    text-align: center;
    padding: 1rem;
  }
h1{
    color:#f1efef;
    text-align: center;
    padding: 1rem;
}

main {
    margin: 2rem;
  }
  /* Links styles */
  a {
    color: #00adb5; /* Link color */
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

.tripform {
    width: 65%;
    padding:2rem;
    background-color: #f1efef;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

label, input, textarea {
    margin: 10px 0;
    color: #191717;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    background-color: #F0F0F0;
    border: 1px solid #00ADB5;
    color: #191717;
    padding: 10px;
    border-radius: 5px;
}

input[type="file"] {
    background-color:#0e474a;
    border: none;
    color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00adb5;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    align-items: center
}

button:hover {
    background-color: #0e474a;
}

.trip-entries {
    width: 70%;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.parent-element{
    text-align: center;
}

.parent-element ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

li {
    padding: 20px;
}

img {
    max-width: 15%;
}

/* Center the image horizontally within the li */
li img {
    display: block;
    margin: 0 auto;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos-container img {
    max-width: 15%;
    margin: 5px;
}

